Klubecash (1).json
{
  "name": "Klubecash",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "a2d47b95-178a-453e-8271-2ea57ae4c6f6",
      "name": "Webhook",
      "webhookId": "c084f074-490e-4caa-a685-7a08a1ab12b7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef0bab95-b60d-47c8-973d-e9cb5a9eac42",
              "name": "session",
              "value": "={{ $json.body.session }}",
              "type": "string"
            },
            {
              "id": "1b1b8360-8cf4-4069-b340-4ff232af35eb",
              "name": "chatId",
              "value": "={{ $json.body.payload.from }}",
              "type": "string"
            },
            {
              "id": "7b13b1d0-13e0-45e7-9868-a5948a3b11f7",
              "name": "pushName",
              "value": "={{ $json.body.payload._data.Info.PushName }}",
              "type": "string"
            },
            {
              "id": "a92156c8-1709-4fc8-84de-55e7c60db609",
              "name": "payload_id",
              "value": "={{ $json.body.payload.id }}",
              "type": "string"
            },
            {
              "id": "24a36185-67d2-4a78-9c6e-aa85f855bb92",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "d591ad88-d577-49c2-8ad9-9b24cfc41ecd",
              "name": "message",
              "value": "={{ $json.body.payload.body }}",
              "type": "string"
            },
            {
              "id": "25bc7cb2-8f8f-41d7-862c-8f91a4afda79",
              "name": "fromMe",
              "value": "={{ $json.body.payload.fromMe }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "7ed34b3a-64d7-4c22-91e7-048448b060bf",
      "name": "dados"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2836cbf4-a4ae-4165-bfc1-1f7cd77cc118"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        416,
        0
      ],
      "id": "32262338-4896-4cae-b18e-96164c646453",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "Você é o chatbot da klubecash, você será responsável por enviar as transacoes automaticamente apos o registro no sistema e tambem servira de consulta de saldo. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "bd357ce1-47e8-4359-93d5-48b1d9385338",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        496,
        208
      ],
      "id": "a03bd986-56f3-4cf5-bd0f-2855e380a78a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "KOWO9NFC1TqkEyS5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('dados').item.json.chatId }}",
        "sessionTTL": 3600,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        640,
        208
      ],
      "id": "67e287e6-8bb8-4dee-9739-b4ae0fad696e",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "GRlvp7IUYaSscZIB",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('dados').item.json.session }}",
        "chatId": "={{ $('dados').item.json.chatId }}",
        "messageId": "={{ $('dados').item.json.payload_id }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        1184,
        0
      ],
      "id": "7a93760b-7856-49e8-b55b-6669b033fd55",
      "name": "Send Seen",
      "credentials": {
        "wahaApi": {
          "id": "ZOpnQWFuOMuFp3kt",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('dados').item.json.session }}",
        "chatId": "={{ $('dados').item.json.chatId }}",
        "reply_to": "=",
        "text": "={{ $('AI Agent').item.json.output }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        1392,
        0
      ],
      "id": "45c588c7-c4db-4191-a9ce-1933e055cae3",
      "name": "Send a text message",
      "credentials": {
        "wahaApi": {
          "id": "ZOpnQWFuOMuFp3kt",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "cashback_saldos",
          "mode": "name"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        784,
        208
      ],
      "id": "922db973-5096-4180-bb27-4a652a295339",
      "name": "Select rows from a table in MySQL",
      "credentials": {
        "mySql": {
          "id": "63tY4U5gYm6JbGcd",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "usuarios",
          "mode": "list",
          "cachedResultName": "usuarios"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        896,
        208
      ],
      "id": "2370abca-95ad-4451-af9e-bb13f578dca4",
      "name": "Select rows from a table in MySQL1",
      "credentials": {
        "mySql": {
          "id": "63tY4U5gYm6JbGcd",
          "name": "MySQL account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "WAHA/2025.9.4",
            "x-webhook-request-id": "01K5T0M6E2ZT8XAWDB36AWRPY7",
            "x-webhook-timestamp": "1758588443073",
            "content-length": "2156",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "host.docker.internal:5678",
            "connection": "keep-alive"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "evt_01k5t0m6e1btpp3fk387wev4f1",
            "timestamp": 1758588443073,
            "event": "message",
            "session": "default",
            "metadata": {},
            "me": {
              "id": "553430301344@c.us",
              "pushName": "KlubeCash",
              "lid": "121294808965159@lid",
              "jid": "553430301344:15@s.whatsapp.net"
            },
            "payload": {
              "id": "false_553891045205@c.us_ACF087A547C035EDB6526DBFC238B92D",
              "timestamp": 1758588443,
              "from": "553891045205@c.us",
              "fromMe": false,
              "source": "app",
              "body": "ola",
              "to": null,
              "participant": null,
              "hasMedia": false,
              "media": null,
              "ack": 2,
              "ackName": "DEVICE",
              "replyTo": null,
              "_data": {
                "Info": {
                  "Chat": "553891045205@s.whatsapp.net",
                  "Sender": "553891045205@s.whatsapp.net",
                  "IsFromMe": false,
                  "IsGroup": false,
                  "AddressingMode": "",
                  "SenderAlt": "31714189533345@lid",
                  "RecipientAlt": "",
                  "BroadcastListOwner": "",
                  "ID": "ACF087A547C035EDB6526DBFC238B92D",
                  "ServerID": 0,
                  "Type": "text",
                  "PushName": "Kaua",
                  "Timestamp": "2025-09-23T00:47:23Z",
                  "Category": "",
                  "Multicast": false,
                  "MediaType": "",
                  "Edit": "",
                  "MsgBotInfo": {
                    "EditType": "",
                    "EditTargetID": "",
                    "EditSenderTimestampMS": "0001-01-01T00:00:00Z"
                  },
                  "MsgMetaInfo": {
                    "TargetID": "",
                    "TargetSender": "",
                    "TargetChat": "",
                    "DeprecatedLIDSession": null,
                    "ThreadMessageID": "",
                    "ThreadMessageSenderJID": ""
                  },
                  "VerifiedName": null,
                  "DeviceSentMeta": null
                },
                "Message": {
                  "conversation": "ola",
                  "messageContextInfo": {
                    "deviceListMetadata": {
                      "senderKeyHash": "nIftEQqgt/5GTw==",
                      "senderTimestamp": 1757726794,
                      "recipientKeyHash": "Z3x3UIMjp54qZQ==",
                      "recipientTimestamp": 1758588049
                    },
                    "deviceListMetadataVersion": 2,
                    "messageSecret": "ir4rrmrlMXUMTE1r8XYqh/GQ0A04GebRKf1ONnN8Alg="
                  }
                },
                "IsEphemeral": false,
                "IsViewOnce": false,
                "IsViewOnceV2": false,
                "IsViewOnceV2Extension": false,
                "IsDocumentWithCaption": false,
                "IsLottieSticker": false,
                "IsBotInvoke": false,
                "IsEdit": false,
                "SourceWebMsg": null,
                "UnavailableRequestID": "",
                "RetryCount": 0,
                "NewsletterMeta": null,
                "RawMessage": {
                  "conversation": "ola",
                  "messageContextInfo": {
                    "deviceListMetadata": {
                      "senderKeyHash": "nIftEQqgt/5GTw==",
                      "senderTimestamp": 1757726794,
                      "recipientKeyHash": "Z3x3UIMjp54qZQ==",
                      "recipientTimestamp": 1758588049
                    },
                    "deviceListMetadataVersion": 2,
                    "messageSecret": "ir4rrmrlMXUMTE1r8XYqh/GQ0A04GebRKf1ONnN8Alg="
                  }
                },
                "Status": 3
              }
            },
            "environment": {
              "version": "2025.9.4",
              "engine": "GOWS",
              "tier": "CORE",
              "browser": null
            }
          },
          "webhookUrl": "http://host.docker.internal:5678/webhook-test/webhook",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Seen": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table in MySQL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table in MySQL1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b21ce32b-9371-4161-a9f4-050731c01a94",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5e121add1efbdd3472210b59aa6b89d09da7a0d828599271a09441a0953e6731"
  },
  "id": "B3TMHE3BM8PVPp0W",
  "tags": []
}