n8n-workflow-TESTE-FINAL.json
{
  "name": "Klube Cash - Teste Final Simplificado",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/teste-final"
      },
      "id": "webhook-teste",
      "name": "Webhook Teste",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Dados fixos para teste\nreturn {\n  phone: '34991191534',\n  secret: 'klube-cash-2024',\n  test_mode: true,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "dados-teste",
      "name": "Dados Teste",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "uri": "https://klubecash.com/api/whatsapp-saldo.php",
        "requestMethod": "POST",
        "headers": {
          "Content-Type": "application/json"
        },
        "body": "{\"phone\": \"{{ $json.phone }}\", \"secret\": \"{{ $json.secret }}\"}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "api-teste",
      "name": "API Teste",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Verificar resposta final\nconst response = $input.all()[0].json;\nconsole.log('🎯 TESTE FINAL - Resposta API:', JSON.stringify(response, null, 2));\n\nif (response && response.success) {\n  console.log('✅ SUCESSO! API funcionando corretamente');\n  return {\n    status: 'SUCCESS',\n    message: response.message,\n    user_found: response.user_found,\n    api_working: true,\n    recommendation: '✅ Workflow pronto para produção!'\n  };\n} else {\n  console.log('❌ ERRO na API');\n  return {\n    status: 'ERROR',\n    error: response,\n    api_working: false,\n    recommendation: '❌ Verificar configuração da API'\n  };\n}\n"
      },
      "id": "resultado-final",
      "name": "Resultado Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Teste": {
      "main": [
        [
          {
            "node": "Dados Teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Teste": {
      "main": [
        [
          {
            "node": "API Teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Teste": {
      "main": [
        [
          {
            "node": "Resultado Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/Sao_Paulo"
  },
  "staticData": {},
  "meta": {},
  "tags": []
}