n8n-workflow-v4.json
{
  "name": "Klube Cash - HTTP Request v4",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/test-v4"
      },
      "id": "webhook-v4",
      "name": "Webhook v4",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "return {\n  phone: '34991191534',\n  secret: 'klube-cash-2024'\n};"
      },
      "id": "dados-v4",
      "name": "Dados v4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://klubecash.com/api/whatsapp-saldo.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-v4-test"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonParameters": "{\n  \"phone\": \"{{ $json.phone }}\",\n  \"secret\": \"{{ $json.secret }}\"\n}",
        "options": {
          "timeout": 30000,
          "response": {
            "fullResponse": true
          }
        }
      },
      "id": "http-v4",
      "name": "HTTP Request v4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.all()[0].json;\nconsole.log('📊 HTTP v4 Response:', JSON.stringify(response, null, 2));\n\nreturn {\n  statusCode: response.statusCode,\n  success: response.statusCode === 200,\n  body: response.body,\n  version: 'v4',\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "result-v4",
      "name": "Result v4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook v4": {
      "main": [
        [
          {
            "node": "Dados v4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados v4": {
      "main": [
        [
          {
            "node": "HTTP Request v4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request v4": {
      "main": [
        [
          {
            "node": "Result v4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/Sao_Paulo"
  },
  "staticData": {},
  "meta": {},
  "tags": []
}