n8n-workflow-FUNCIONANDO.json
{
  "name": "Klube Cash - FUNCIONANDO",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/funcionando"
      },
      "id": "webhook-funcionando",
      "name": "Webhook Funcionando",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Processar dados (evolutionapi ou teste)\nconst input = $input.all()[0].json;\nconsole.log('📥 Input:', JSON.stringify(input, null, 2));\n\n// Se for teste direto, usar dados fixos\nif (!input || Object.keys(input).length === 0) {\n  return {\n    phone: '34991191534',\n    message: 'saldo',\n    isSaldoKeyword: true,\n    test: true\n  };\n}\n\n// Processar dados da Evolution API\nlet phone = '';\nlet messageText = '';\nlet fromMe = false;\n\n// Múltiplos formatos de dados\nif (input.data) {\n  phone = input.data.key?.remoteJid || '';\n  fromMe = input.data.key?.fromMe || false;\n  messageText = input.data.message?.conversation || '';\n} else {\n  phone = input.key?.remoteJid || input.from || '';\n  fromMe = input.key?.fromMe || input.fromMe || false;\n  messageText = input.message?.conversation || input.body || '';\n}\n\n// Limpeza e validação\nphone = String(phone || '').replace('@s.whatsapp.net', '').replace('@c.us', '').replace(/\\D/g, '');\nmessageText = String(messageText || '').toLowerCase().trim();\n\n// Keywords\nconst saldoKeywords = ['saldo', 'extrato', 'consulta', 'dinheiro', 'valor', 'quanto tenho'];\nconst isSaldoKeyword = saldoKeywords.some(keyword => messageText.includes(keyword));\n\nreturn {\n  phone: phone || '34991191534', // Fallback para teste\n  message: messageText || 'saldo',\n  fromMe: fromMe,\n  isSaldoKeyword: isSaldoKeyword || true, // Para teste sempre true\n  shouldProcess: true\n};"
      },
      "id": "processar-funcionando",
      "name": "Processar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "uri": "https://klubecash.com/api/whatsapp-saldo.php",
        "requestMethod": "POST",
        "headers": {
          "Content-Type": "application/json"
        },
        "body": "={\"phone\": \"{{ $json.phone }}\", \"secret\": \"klube-cash-2024\"}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "api-funcionando",
      "name": "API Saldo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Processar resposta da API\nconst apiResponse = $input.all()[0].json;\nconst userData = $input.all()[1].json;\n\nconsole.log('✅ API Response:', JSON.stringify(apiResponse, null, 2));\n\n// Verificar se funcionou\nif (apiResponse && apiResponse.success && apiResponse.message) {\n  return {\n    phone: userData.phone,\n    message: apiResponse.message,\n    success: true,\n    user_found: apiResponse.user_found,\n    apiWorking: true\n  };\n} else {\n  return {\n    phone: userData.phone,\n    message: '❌ Erro na consulta de saldo',\n    success: false,\n    apiWorking: false,\n    error: apiResponse\n  };\n}"
      },
      "id": "processar-resposta",
      "name": "Processar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "uri": "https://evolutionapi.klubecash.com/message/sendText/KluebCash",
        "requestMethod": "POST",
        "headers": {
          "Content-Type": "application/json",
          "apikey": "HONejkqQLlxZoeYiaQxmUczVRTdqscw2"
        },
        "body": "={\"number\": \"{{ $json.phone }}\", \"text\": \"{{ $json.message }}\", \"delay\": 1000}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "enviar-evolution",
      "name": "Enviar Evolution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook Funcionando": {
      "main": [
        [
          {
            "node": "Processar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar": {
      "main": [
        [
          {
            "node": "API Saldo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Saldo": {
      "main": [
        [
          {
            "node": "Processar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Resposta": {
      "main": [
        [
          {
            "node": "Enviar Evolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/Sao_Paulo"
  },
  "staticData": {},
  "meta": {},
  "tags": []
}