n8n-workflow-saldo-whatsapp.json
{
  "name": "Klube Cash - Consulta Saldo WhatsApp (Evolution API)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/whatsapp",
        "options": {}
      },
      "id": "5b48c2d7-f8f8-4ad5-b2c5-8a4d6c9b7e1f",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        
        100,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c2e8f9a1-4b7d-4e6c-8f2a-1d9e5b3c7a6f",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            },
            {
              "id": "d3f9a2b5-5c8e-4f7d-9a3b-2e8f6c4d8b7e",
              "leftValue": "={{ $json.body.data.messageType }}",
              "rightValue": "conversation",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a8b2c4d6-e9f1-4a5b-8c7d-3e6f9a2b5c8e",
      "name": "Filtrar Mensagens",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extrair dados da mensagem\nconst data = $input.all()[0].json.body.data;\n\n// Extrair telefone sem formatação\nconst phoneWithCountry = data.key.remoteJid;\nconst phone = phoneWithCountry.replace('@s.whatsapp.net', '').replace(/\\D/g, '');\n\n// Extrair mensagem\nconst message = data.message?.conversation || '';\nconst messageText = message.toLowerCase().trim();\n\n// Verificar se é keyword de saldo\nconst saldoKeywords = ['saldo', 'extrato', 'consulta', 'dinheiro', 'valor', 'quanto tenho'];\nconst isSaldoKeyword = saldoKeywords.some(keyword => messageText.includes(keyword));\n\n// Log da mensagem recebida\nconsole.log(`📥 Mensagem de ${phone}: ${message}`);\nconsole.log(`🔍 É keyword de saldo: ${isSaldoKeyword}`);\n\nreturn {\n  phone: phone,\n  message: message,\n  messageText: messageText,\n  isSaldoKeyword: isSaldoKeyword,\n  remoteJid: data.key.remoteJid,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "b9c3d5e7-f2a4-4b6c-9d8e-4f7a2c5b8d9e",
      "name": "Processar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e4f5a6b7-c8d9-4e2f-a5b6-3f8e1c4d7a9b",
              "leftValue": "={{ $json.isSaldoKeyword }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c4d6e8f0-a2b5-4c7d-8e9f-5a3b6c9d2e5f",
      "name": "É Consulta Saldo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://klubecash.com/api/whatsapp-saldo.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "secret",
              "value": "klube-cash-2024"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "d5e7f9a1-b3c6-4d8e-9f2a-6b4c7e5d8f1a",
      "name": "Consultar Saldo API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obter dados da consulta\nconst apiResponse = $input.all()[0].json;\nconst userPhone = $input.all()[0].json.phone;\n\nconsole.log('📊 Resposta da API:', JSON.stringify(apiResponse));\n\n// Verificar se a consulta foi bem-sucedida\nif (!apiResponse.success) {\n  return {\n    phone: userPhone,\n    message: apiResponse.message || '❌ Erro ao consultar saldo. Tente novamente.',\n    success: false\n  };\n}\n\n// Se usuário não foi encontrado\nif (!apiResponse.user_found) {\n  return {\n    phone: userPhone,\n    message: apiResponse.message || '❌ Usuário não encontrado no sistema.',\n    success: false\n  };\n}\n\n// Sucesso - usuário encontrado com saldo\nreturn {\n  phone: userPhone,\n  message: apiResponse.message,\n  success: true,\n  user_found: true,\n  total_lojas: apiResponse.total_lojas || 0,\n  saldo_total: apiResponse.saldo_total || 0\n};"
      },
      "id": "e6f8a0b2-c4d7-4e9f-a3b5-7c5d8f6a9c2e",
      "name": "Processar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://evolutionapi.klubecash.com/message/sendText/KluebCash",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "HONejkqQLlxZoeYiaQxmUczVRTdqscw2"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.message }}"
            },
            {
              "name": "delay",
              "value": "1000"
            }
          ]
        },
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "f7a9b1c3-d5e8-4f0a-b6c9-8d6f9c2e5a8b",
      "name": "Enviar Resposta Evolution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1300,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log da mensagem enviada\nconst response = $input.all()[0].json;\nconst phone = $input.all()[0].json.phone;\nconst message = $input.all()[0].json.message;\n\nconsole.log(`✅ Resposta enviada para ${phone}`);\nconsole.log(`📤 Mensagem: ${message.substring(0, 100)}...`);\nconsole.log(`📊 Status Evolution:`, JSON.stringify(response));\n\nreturn {\n  success: true,\n  phone: phone,\n  sent_at: new Date().toISOString(),\n  evolution_response: response\n};"
      },
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-1e2f3a4b5c6d",
      "name": "Log Sucesso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://evolutionapi.klubecash.com/message/sendText/KluebCash",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "HONejkqQLlxZoeYiaQxmUczVRTdqscw2"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "text",
              "value": "🏪 *Klube Cash* - Bem-vindo!\\n\\nDigite *saldo* para consultar seu saldo de cashback.\\n\\n💡 Você também pode acessar:\\nhttps://klubecash.com"
            },
            {
              "name": "delay",
              "value": "1000"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-2f3a4b5c6d7e",
      "name": "Enviar Menu Padrão",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log de mensagem não relacionada a saldo\nconst phone = $input.all()[0].json.phone;\nconst message = $input.all()[0].json.message;\n\nconsole.log(`📝 Mensagem não-saldo de ${phone}: ${message}`);\nconsole.log(`🏠 Enviando menu padrão`);\n\nreturn {\n  phone: phone,\n  original_message: message,\n  action: 'menu_padrao',\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "c3d4e5f6-a7b8-4c9d-0e1f-3a4b5c6d7e8f",
      "name": "Log Menu Padrão",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log de erro na consulta\nconst error = $input.all()[0].json;\n\nconsole.log('❌ Erro na consulta de saldo:', JSON.stringify(error));\n\nreturn {\n  error: true,\n  details: error,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "d4e5f6a7-b8c9-4d0e-1f2a-4b5c6d7e8f9a",
      "name": "Log Erro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        100
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Filtrar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Mensagens": {
      "main": [
        [
          {
            "node": "Processar Dados",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Processar Dados": {
      "main": [
        [
          {
            "node": "É Consulta Saldo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Consulta Saldo?": {
      "main": [
        [
          {
            "node": "Consultar Saldo API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Menu Padrão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Saldo API": {
      "main": [
        [
          {
            "node": "Processar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Resposta": {
      "main": [
        [
          {
            "node": "Enviar Resposta Evolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Resposta Evolution": {
      "main": [
        [
          {
            "node": "Log Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Menu Padrão": {
      "main": [
        [
          {
            "node": "Log Menu Padrão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "America/Sao_Paulo",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": {},
  "meta": {
    "instanceId": "klube-cash-instance"
  },
  "tags": [
    {
      "createdAt": "2024-09-23T12:00:00.000Z",
      "updatedAt": "2024-09-23T12:00:00.000Z",
      "id": "1",
      "name": "whatsapp"
    },
    {
      "createdAt": "2024-09-23T12:00:00.000Z",
      "updatedAt": "2024-09-23T12:00:00.000Z",
      "id": "2",
      "name": "klubecash"
    }
  ]
}