n8n-workflow-diagnostico.json
{
  "name": "Klube Cash - Diagnóstico HTTP",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/diagnostico"
      },
      "id": "webhook-diag",
      "name": "Webhook Diagnóstico",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "return {\n  phone: '34991191534',\n  secret: 'klube-cash-2024',\n  test: 'diagnostico-multiplas-versoes'\n};"
      },
      "id": "dados-diag",
      "name": "Dados Diagnóstico",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "uri": "https://klubecash.com/api/whatsapp-saldo.php",
        "requestMethod": "POST",
        "headers": {
          "Content-Type": "application/json",
          "User-Agent": "n8n-diag-v1"
        },
        "body": "{\n  \"phone\": \"{{ $json.phone }}\",\n  \"secret\": \"{{ $json.secret }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "test-v1",
      "name": "Teste v1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://klubecash.com/api/whatsapp-saldo.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-diag-v4"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonParameters": "{\n  \"phone\": \"{{ $json.phone }}\",\n  \"secret\": \"{{ $json.secret }}\"\n}",
        "options": {
          "timeout": 30000,
          "response": {
            "fullResponse": true
          }
        }
      },
      "id": "test-v4",
      "name": "Teste v4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://klubecash.com/api/whatsapp-saldo.php",
        "options": {
          "headers": {
            "Content-Type": "application/json",
            "User-Agent": "n8n-diag-v3"
          },
          "body": {
            "phone": "={{ $json.phone }}",
            "secret": "={{ $json.secret }}"
          },
          "bodyType": "json"
        }
      },
      "id": "test-v3",
      "name": "Teste v3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 400]
    },
    {
      "parameters": {
        "jsCode": "// Compilar resultados de todos os testes\nconst v1Result = $input.all()[0].json;\nconst v4Result = $input.all()[1].json;\nconst v3Result = $input.all()[2].json;\n\nconsole.log('📊 DIAGNÓSTICO COMPLETO:');\nconsole.log('v1 Result:', JSON.stringify(v1Result, null, 2));\nconsole.log('v4 Result:', JSON.stringify(v4Result, null, 2));\nconsole.log('v3 Result:', JSON.stringify(v3Result, null, 2));\n\n// Analisar qual funcionou\nconst v1Success = v1Result && v1Result.success !== false && !v1Result.error;\nconst v4Success = v4Result && v4Result.statusCode === 200;\nconst v3Success = v3Result && v3Result.success !== false && !v3Result.error;\n\nconst analysis = {\n  v1: {\n    success: v1Success,\n    result: v1Result,\n    recommendation: v1Success ? '✅ USE ESTA VERSÃO' : '❌ Não funciona'\n  },\n  v4: {\n    success: v4Success,\n    result: v4Result,\n    recommendation: v4Success ? '✅ USE ESTA VERSÃO' : '❌ Não funciona'\n  },\n  v3: {\n    success: v3Success,\n    result: v3Result,\n    recommendation: v3Success ? '✅ USE ESTA VERSÃO' : '❌ Não funciona'\n  },\n  summary: {\n    working_versions: [v1Success && 'v1', v4Success && 'v4', v3Success && 'v3'].filter(Boolean),\n    best_option: v1Success ? 'v1' : v4Success ? 'v4' : v3Success ? 'v3' : 'NENHUMA',\n    timestamp: new Date().toISOString()\n  }\n};\n\nconsole.log('🎯 ANÁLISE FINAL:', JSON.stringify(analysis, null, 2));\n\nreturn analysis;"
      },
      "id": "analise-final",
      "name": "Análise Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Diagnóstico": {
      "main": [
        [
          {
            "node": "Dados Diagnóstico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Diagnóstico": {
      "main": [
        [
          {
            "node": "Teste v1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Teste v4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Teste v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Teste v1": {
      "main": [
        [
          {
            "node": "Análise Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Teste v4": {
      "main": [
        [
          {
            "node": "Análise Final",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Teste v3": {
      "main": [
        [
          {
            "node": "Análise Final",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/Sao_Paulo"
  },
  "staticData": {},
  "meta": {},
  "tags": []
}