n8n-workflow-v1-antigo.json
{
  "name": "Klube Cash - HTTP Request v1 Antigo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/test-v1"
      },
      "id": "webhook-v1",
      "name": "Webhook v1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "return {\n  phone: '34991191534',\n  secret: 'klube-cash-2024'\n};"
      },
      "id": "dados-v1",
      "name": "Dados v1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "uri": "https://klubecash.com/api/whatsapp-saldo.php",
        "requestMethod": "POST",
        "headers": {
          "Content-Type": "application/json",
          "User-Agent": "n8n-v1-test"
        },
        "body": "{\n  \"phone\": \"{{ $json.phone }}\",\n  \"secret\": \"{{ $json.secret }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-v1",
      "name": "HTTP Request v1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.all()[0].json;\nconsole.log('📊 HTTP v1 Response:', JSON.stringify(response, null, 2));\n\nreturn {\n  success: true,\n  body: response,\n  version: 'v1',\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "result-v1",
      "name": "Result v1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook v1": {
      "main": [
        [
          {
            "node": "Dados v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados v1": {
      "main": [
        [
          {
            "node": "HTTP Request v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request v1": {
      "main": [
        [
          {
            "node": "Result v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/Sao_Paulo"
  },
  "staticData": {},
  "meta": {},
  "tags": []
}