n8n_workflow_balance.json

{
  "name": "Consulta de Saldo WhatsApp",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "path": "whatsapp-balance",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        400,
        300
      ],
      "webhookId": "a1b2c3d4-e5f6-a7b8-c9d0-e1f2a3b4c5d6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "rules": [
            {
              "value1": "{{$json.body.message.text}}",
              "operation": "contains",
              "value2": "saldo"
            }
          ]
        }
      },
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://klubecash.com/api/whatsapp-saldo.php",
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "{{$json.body.sender}}"
            },
            {
              "name": "secret",
              "value": "klube-cash-2024"
            }
          ]
        }
      },
      "name": "HTTP Request Saldo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        720,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://evolutionapi.klubecash.com/message/sendText/KluebCash",
        "options": {},
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "HONejkqQLlxZoeYiaQxmUczVRTdqscw2"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "{{$json.body.sender}}"
            },
            {
              "name": "textMessage",
              "value": {
                "text": "{{$json.data.message}}"
              }
            }
          ]
        }
      },
      "name": "Send Balance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        880,
        200
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request Saldo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Saldo": {
      "main": [
        [
          {
            "node": "Send Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
